
body{
    background-color: #EFEFEF;
    margin: 0;
    
    

}


#navbar{
    background-color: rgb(255, 255, 255);
    
    height: 90px;
	float: center;
	display: flex;
	align-items: center;
	font-family: 'Arial', monospace;
	display: flex;
  	align-items: center;
	justify-content: left;
	padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    padding-right: 20px;
    box-shadow: 0px 1px 1px rgb(138, 138, 138);
    
    
    
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
    color: rgb(141, 141, 141);
    font-weight: 100;
    font-variant-ligatures: common-ligatures;
}
.contentText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 20px;
    color: rgb(37, 37, 37);
    margin-bottom: 20px;

}

#qr{
    float: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#wkd{
    float: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

@keyframes scaleAnimation {
    0%   { transform: scale(0.8); }
    50%  { transform: scale(1.2); }
    100% { transform: scale(0.8); }
  }

  .animated-image {
    animation-name: scaleAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }


#faktura{
     background-color: #8CAC2F;
     color:rgb(255, 255, 255);
     font-family: Arial, Helvetica, sans-serif;
     height: 120px;
     margin: 10px;
     font-size: 40px;
     float: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#strzalka{
    float: left;
}
.gg-arrow-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,3));
    width: 22px;
    height: 22px;
    
}
.gg-arrow-left::after{
    
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;
}
.gg-arrow-left::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 3px;

}
.gg-arrow-left::after {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    bottom: 7px;
    color: #3d3d3d;;
}
.gg-arrow-left::before {
    width: 11px;
    height: 2px;
    bottom: 10px;
    background: #3d3d3d
}